*{
    font-family: 'Segoe UI', Tahoma, Geneva , Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
}

.heading{
    text-align: center;
    font-size: larger;
    color: rgb(0, 0, 0);
    padding: 30px;
    
}
body{
    background-image: url(https://wallpaperaccess.com/full/663336.jpg);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.img{
    margin-left: 30px;
}