*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main{
    
    background-color: transparent;
    width: 600px;
    margin: auto;
    text-align: center;
    margin-top: 100px;

}
.try{

    margin-top: 30px;
}

.box{

    padding-top: 30px;
}

#Next{

    margin-left: 20px;
    padding: 10px;
}

#check{

    padding: 10px
}